*{
  box-sizing: border-box;
}
body{
  background-color: black;
  margin:0;
  font-family: arial,sans-serif;
}


header{
  background-color: #FF7F50;
}
.logo{
	text-align:center;
}
.navigation,.search{
    margin-top: 20px;
    margin-right:0px;
  }
search input{
  font-size: 14px;
  font-weight: 500;
  line-height:30px;
  height: 30px;
  width: 50px;
  background-color: white;
  border: 1 px solid gray;
  border-radius: 3px;
}
input[type="search"] 
      {
         width: 80%;
         border: 1px solid #CCC;
      }
.search button{
  display:inline-block;
  height: 25px;
  font-size: 14px;
  background-color: white;
  border-radius: 3px;
  border: 1 px solid gray;
}
ul.topnav {
	list-style-type: none;
}
ul.topnav li {
	float: left;
}
ul.topnav li+li {
	border-left:solid 1px #fff;
}
ul.topnav li:last { border-left: none }

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 3px 3px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}
ul.topnav li.icon {
	display: none;
	border-left: none;
}
@media screen and (max-width:680px) {
  ul.topnav li{
	display: none;
	border-left: none;
  }
  ul.topnav li.icon {
    float: center;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  
  ul.topnav.responsive li {
    float: none;
    display: inline;
	 border-left: none;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
.description{
  margin-top: 0px;
  font-size: 14px;
  color:white;
}
.name{
  font-size : 14px;
  font-weight: 600;
  text-decoration: none;
  color:  #FF7F50;  
}
#list{
  list-style-type: none;
  padding-left: 2px;
  margin-top: 2px;
  padding-right: 10px;
}
li{
  margin-bottom: 0px;
}
.left {
  float: left;
  margin-right: 3px;
}
.hidden {
  display: none;
}
#video{
  display: block;
  width: 100%;
  height: 100%;
  border-color: white;
}
main {
  padding-top: 20px;  
}
main .row {
  margin-bottom: 20px;
}


.trending, .feed-list{
  height: 550px;
}
.feed-list{
  overflow-y: auto;
  
}
.box {
  text-align: justify;
  text-justify: auto; 
}
::-webkit-scrollbar {
    width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: white;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #FF7F50; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #FF7F50; 
}

